body {
    padding-top: 50px;
    align-items: center;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}
header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}
header ul {
    list-style-type: none;
    display: flex;
}
header a {
    color: white; 
    text-decoration: none; 
}
header li {
    margin-right: 20px;
}
header li:last-child {
    margin-right: 0;
}
section {
    color: black;
    margin: auto;
}
.about-us-container .title,.paragraph {
    text-align: center;
} 

.about-us-container img{
    display: block; 
    margin: 0 auto;
}
.our-services-container .title {
    text-align: center;
}
.our-services-container {
    display: flex; 
    overflow-x: auto; 
    justify-content: center;
    flex-direction: column; 
    align-items: center; 
}

.our-services-container article {
    flex: 0 0 auto; 
    padding: 20px; 
    border: 1px solid #ccc; 
}
.our-services-container .sub-title,.paragraph {
    text-align: center;
}
.articles-container {
    display: flex;
    gap: 20px; 
    justify-content: center; 
}

